.randomRecipe {
  min-height: 100vh;
  height: auto;
  padding: 20px 20px 50px 20px;
  color: #fff;
}
.randomRecipeHeader {
  margin: 50px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.randomRecipeImgContainer {
  width: 30%;
}
.randomRecipe img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: 50px;
}
.randomRecipeTitleBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 20px 20px;
}
.randomRecipeTitleBtn button {
  background-color: #ffaa54;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.2px;
  padding: 10px;
  transition: 0.2s ease;
  cursor: pointer;
}
.randomRecipeTitleBtn button:hover {
  background-color: #ff9f34;
}
.recipeContent {
  display: flex;
}
.recipeIngredients {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 50px;
}
.recipeIngredients h3 {
  margin: 30px 0;
}
.recipeIngredientsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.recipeIngredients1,
.recipeIngredients2 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recipeIngredients1 li p,
.recipeIngredients2 li p {
  margin: 0;
  margin-bottom: 15px;
}
.instructionsContainer {
  width: 70%;
  padding: 0 50px 0 0;
  margin: 0;
  list-style: none;
}
.instructionsContainer h3 {
  margin: 30px 0;
}
.instructions {
  margin-bottom: 15px;
}
span {
  color: #ffaa54;
}

@media screen and (max-width: 900px) {
  .randomRecipeHeader {
    margin: 50px 0 0 0;
    flex-direction: column;
    justify-content: center;
  }
  .randomRecipeTitleBtn {
    margin-bottom: 0;
  }
  .randomRecipeImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .randomRecipeTitleBtn {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .recipeContent {
    flex-direction: column;
    align-items: center;
  }
  .recipeIngredients {
    align-items: center;
    width: 90%;
    margin-left: 0;
  }
  .recipeIngredients h3 {
    margin-bottom: 50px;
  }
  .recipeIngredientsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 50px;
    width: 100%;
  }
  .recipeIngredients1,
  .recipeIngredients2 {
    width: 50%;
  }
  .recipeIngredients1 li p,
  .recipeIngredients2 li p {
    font-size: 15px;
  }
  .instructionsContainer {
    width: 90%;
    padding: 0;
  }
  .instructionsContainer h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  .instructions {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .randomRecipeTitleBtn h2 {
    margin: 50px 0;
    font-size: 20px;
  }
  .recipeIngredients h3 {
    font-size: 15px;
  }
  .recipeIngredients1 li p,
  .recipeIngredients2 li p {
    font-size: 12px;
  }
  .instructionsContainer h3 {
    font-size: 15px;
  }
  .instructions {
    font-size: 12px;
  }
}
